*{  
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}
#productos, #main__carrito{
    height: auto;    
    display: flex;    
    justify-content: center;
    padding: 1rem;
    flex-wrap:wrap;
}

.card__products{
    width: 100%;
    display: flex;
    
    justify-content: center;
    margin: 0.5rem 0.5rem;
}

.contadorProduct{
    width: 3rem;
    height: 3rem;
    margin: auto;
    
}

.totalCompra{
    height: 30px;
    border-radius: 5px;    
    
    
}

.logo__los__ebrios{
    width: 3.125rem;
    height: 3.125rem;
}

#navbarsExample07{
    flex-grow: 0;
    
}

.container-title{
    height: 70px;
    display: flex;    
    justify-content: center;
}

.container-title h5{
    align-self: center;
}


.modal-dialog {
    height: 50%;
    width: 50%;
    margin: auto
}

.text1 {
    background-color: #dc3545;
    color: white;
    width: 20%;
    margin-top: 5%;
    text-align: center
}

.icon2 {
    color: #dc3545
}

.modal-header {
    color: white;
    background-color: #dc3545
}

.openmodal {
    margin-left: 35%;
    width: 25%;
    margin-top: 25%
}


/*-------------------*/
div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute
}

.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9
}

.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 8px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: #fff;
    font: 100 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
}

.ribbon-top-right {
    top: -10px;
    right: -10px
}

.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent
}

.ribbon-top-right::before {
    top: 0;
    left: 17px
}

.ribbon-top-right::after {
    bottom: 17px;
    right: 0
}

.ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg)
}

.container__offer {
    margin-top: 30px;
    margin-bottom: 30px
}

.bbb_deals_featured {
    width: 100%
}

.bbb_deals {
    width: 36%;
    margin-right: 7%;
    padding-top: 85px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 35px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px
}

.bbb_deals_title {
    position: absolute;
    top: 27px;
    left: 40px;
    font-size: 18px;
    font-weight: 500;
    color: #000000
}

.bbb_deals_slider_container {
    width: 100%
}

.bbb_deals_item {
    width: 100% !important
}

.bbb_deals_image {
    width: 100%
}

.bbb_deals_image img {
    width: 100%
}

.bbb_deals_content {
    margin-top: 33px
}

.bbb_deals_item_category a {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5)
}

.bbb_deals_item_price_a {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6)
}

.bbb_deals_item_name {
    font-size: 24px;
    font-weight: 400;
    color: #000000
}

.bbb_deals_item_price {
    font-size: 24px;
    font-weight: 500;
    color: #df3b3b
}

.available {
    margin-top: 19px
}

.available_title {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400
}

.available_title span {
    font-weight: 700
}

.sold_title {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400
}

.sold_title span {
    font-weight: 700
}

@media only screen and (max-width: 1199px) {
    .bbb_deals_timer_box {
        width: 150px
    }

    .bbb_deals_timer_unit {
        font-size: 20px
    }
}

@media only screen and (max-width: 991px) {
    .bbb_deals {        
        margin-right: 0px
    }
}

@media only screen and (max-width: 575px) {
    .bbb_deals {
        width: 70%;
        padding-left: 15px;
        padding-right: 15px
    }

    .bbb_deals_title {
        left: 15px;
        font-size: 16px
    }

    .bbb_deals_slider_nav_container {
        right: 5px
    }

    .bbb_deals_item_name,
    .bbb_deals_item_price {
        font-size: 20px
    }

    .bbb_deals_item_category a,
    .bbb_deals_item_price_a {
        font-size: 12px
    }

    .bbb_deals_timer_unit {
        font-size: 16px
    }
}